@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-text {
  text-shadow: 2px 2px 0 #ff0000, -2px -2px 0 #0d9c9f, 2px -2px 0 #0d9c9f,
    -2px 2px 0 #ff0000, 4px 4px 10px #000;
}

@keyframes marquee-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes marquee-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.marquee-container-left {
  display: inline-block;
  animation: marquee-left 30s linear infinite;
}
.marquee-container-right {
  display: inline-block;
  animation: marquee-right 30s linear infinite;
}
.marquee-content {
  display: inline-block;
}
.letter {
  display: inline-block;
  transition: color 0.3s ease;
}

::-webkit-scrollbar {
  /* Narrow scrollbar width to make the thumb appear less intrusive */
  width: 10px;
}

::-webkit-scrollbar-track {
  /* Make the scrollbar track transparent so it's not visible */
  background: #0375f9;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  /* Style the scrollbar thumb */
  background: #fb624c;
  position: absolute;
  border-radius: 10px;
  width: 10px;
  /* Add a bit of opacity to make it feel like it's overlaid */
}
